.service-hover {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.service-box {
    box-shadow: 0 0 30px rgb(1 41 112 / 10%);
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.service-box .icon {
    font-size: 38px;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.service-box .read-more {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}
.service-box .read-more i {
    font-size: 18px;
    line-height: 0;
    margin-right: 8px;
    vertical-align: middle;
    padding: 0;
}
.service-box.blue {
    border-bottom: 3px solid #2db6fa;
}
.service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}
.service-box.blue .read-more {
    color: #2db6fa;
}
.service-box.blue:hover {
    background: #2db6fa;
    color: #fff;
}
.service-box:hover .read-more {
    color: #fff;
}
.service-box:hover .icon {
    background: #fff;
}
.service-box.orange {
    border-bottom: 3px solid #f68c09;
}
.service-box.orange .icon {
    color: #f68c09;
    background: #f5f4f0;
}
.service-box.orange .read-more {
    color: #f68c09;
}
.service-box.orange:hover {
    background: #f68c09;
    color: #fff;
}
.service-box:hover .read-more {
    color: #fff;
}
.service-box:hover .icon {
    background: #fff;
}

.service-box.green {
    border-bottom: 3px solid #08da4e;
}
.service-box.green .icon {
    color: #08da4e;
    background: #edfaf2;
}
.service-box.green .read-more {
    color: #08da4e;
}
.service-box.green:hover {
    background: #08da4e;
    color: #fff;
}
.service-box:hover .read-more {
    color: #fff;
}
.service-box:hover .icon {
    background: #fff;
}
